# Node.js
node_modules/

# Compiled output
/dist/
/tmp/
dist
tmp
/.scannerwork/
# IDEs and editors
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace
*.komodoproject
.komodotools/
.editorconfig
.sass-cache/
.vscode/
.angular/
.angular/*
/target

# Misc
.DS_Store
Thumbs.db

# npm package lock file
package-lock.json

.nx/cache
.nx/workspace-data

#Sonar
.sonarlint
